*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border-collapse: collapse;
    background-size:cover;
    background-repeat: no-repeat;
}
body {
    margin: 0px;
    padding: 0px;
}
:root{
    --item_size: 4.12dvw;
    --small_border_size: 0.55dvw;
    --big_border_size: 1.32dvw;
    --top_left_slotY: 8.18dvw;
    --top_left_slotX: 27.7dvw;
    --1slot_down: calc(var(--item_size) + var(--small_border_size));
}
#inventar_armor{
    border: 0px solid red;

    position: absolute;
    top: calc(var(--top_left_slotY) - 0.5*var(--small_border_size));
    left: var(--top_left_slotX);
    
    display: grid;
    line-height: 0;
}
#inventar_mainbody{
    border: 0px solid red;

    position: absolute;
    top: calc(var(--top_left_slotY) + 4*var(--1slot_down) + var(--big_border_size) - var(--small_border_size));
    left: var(--top_left_slotX);

    line-height: 0;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto;
    height: calc(3*var(--1slot_down));
    width: calc(9*var(--1slot_down));
}
#inventar_hotbar{
    border: 0px solid red;

    position: absolute;
    top: calc(var(--top_left_slotY) + 4*var(--1slot_down) + var(--big_border_size) - var(--small_border_size) + 3*var(--1slot_down) + var(--big_border_size) - 0.37dvw);
    left: var(--top_left_slotX);

    line-height: 0;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto;
    height: calc(1*var(--1slot_down));
    width: calc(9*var(--1slot_down));
}

.item{
    width: var(--item_size);
    height: var(--item_size);

    cursor: grab;
    position: relative;

    background-size: cover;
    background-repeat: no-repeat;
    border: 0px solid purple;

    image-rendering: pixelated;
    user-select: none;
    transition: opacity 0.0s;
}
.item:active{
    cursor:grabbing;
}
.slot{
    width: var(--item_size);
    height: var(--item_size);

    margin: calc(0.5*var(--small_border_size));

    border: 0px solid rgb(9, 255, 0);
}

#inventar{
    width: 100dvw;
    height: calc(56.25dvw);
    background-image: url(inventory_empty.png),url(background_candidate1.jpg);
}
